# Site bazli PHP-FPM baglantisi. Degiskenler: {{FPM_SOCK}}

try_files $uri =404;
fastcgi_split_path_info ^(.+\.php)(/.+)$;
include fastcgi_params;

fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
fastcgi_param PATH_INFO       $fastcgi_path_info;
fastcgi_param HTTPS           $https if_not_empty;

fastcgi_pass unix:{{FPM_SOCK}};
fastcgi_index index.php;

fastcgi_buffers 16 16k;
fastcgi_buffer_size 32k;
fastcgi_read_timeout 300s;
fastcgi_intercept_errors off;

# --- Sayfa onbellegi ---------------------------------------------------------
# Iki katmanli karar:
#   $skip_cache             -> ISTEK tarafi (giris cerezi, sepet/odeme adresi,
#                              POST, sorgu dizesi)
#   $wpc_bypass_respcookie  -> YANIT tarafi (PHP oturum/kimlik cerezi kuruyorsa)
# Ikisi de 00-tuning.conf'taki map'lerden gelir.
#
# Set-Cookie yok sayiliyor ki WooCommerce'in zararsiz `recently_viewed` cerezi
# urun sayfalarinin onbelleklenmesini engellemesin. Guvenlik yanit tarafindaki
# map ile saglaniyor: oturum/kimlik cerezi tasiyan yanit asla onbellege girmez.
fastcgi_ignore_headers Set-Cookie;

fastcgi_cache WPCACHE;
fastcgi_cache_valid 200 301 302 10m;
fastcgi_cache_valid 404 1m;
fastcgi_cache_bypass $skip_cache;
fastcgi_no_cache    $skip_cache $wpc_bypass_respcookie;
fastcgi_cache_lock on;
fastcgi_cache_lock_timeout 10s;
fastcgi_cache_background_update on;
# Not: bu direktif yalnizca http_500/503/403/404/429 kabul eder (502/504 yok).
fastcgi_cache_use_stale error timeout invalid_header updating http_500 http_503;
fastcgi_cache_revalidate on;

add_header X-FastCGI-Cache $upstream_cache_status always;
